* {
  font-family: "Courier New";
}

h1,
h3 {
  color: #b92b27;
}

#login {
  background-color: white;
}

#signup {
  background-color: #b92b27;
  color: white;
}

.upvote {
  background-color: green;
  color: aliceblue;
}

/* descendent selector  */
.post a {
  color: purple;
  background-color: yellow;
}

nav ul li a {
  color: hotpink;
}
p + h3 {
  text-decoration: underline;
}
.upvote + button {
  background-color: cornflowerblue;
  color: darkblue;
}
