h1 {
  text-align: center;
  text-decoration: red wavy underline;
  letter-spacing: 10px;
}
h3 {
  text-align: start;
  text-decoration: pink line-through;
}
p {
  text-align: justify;
  font-weight: 400;
  line-height: normal;
  font-size: 25px;
}
h2 {
  font-weight: 800;
  text-decoration: blue double overline;
}
a {
  text-decoration: none;
}
